#meal_items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;

}
.meal{
   border:1px solid red;
   border-radius: 10px;
   border:none;
   padding:15px;
   text-align: center;
   width:250px;
   margin-left:40px;
}
.meal_name{
    font-size:20px;
    color:black;
}
.meal img{
    width:100%;
}
.mealDetail{
    border:1px solid red;
   border-radius: 10px;
   border:none;
   padding:15px;
   text-align: center;
   width:300px;
   margin:40px 500px;
}
.mealDetail img{
    width:100%;
}
.mealDetail h3,h6,li{
    text-align:start;
}
